*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'inter', 'sans-serif';
    text-decoration: none;
}

html{
    font-size: 16px; 
}

body{
    background-color: #fff;
    width: 100%;
    height: 100%;
}

button{
    cursor: pointer;
}

strong{
    color: #000;
}

/* Inicio do Cabeçalho*/

header{
    width: 100vw;
    display: flex;
    justify-content: center;
}


#logo-header{
    display: flex;
    align-items: center;
    gap: 8px ;
    font-size: 1.125rem;
}

#nome-empresa{
    color:#3A404E ;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    max-width: 1440px;
    width: 100%;
    margin: 0px 24px 0px 24px;
}

#navlist{
    display: flex;
    gap: 32px;
    width: 50%;
}


a{
    color:#667085;
}

#container-btn{
    display: flex;
    align-items: center;
    gap: 24px;
}

#entrar{
    width: 47px;
    height: 24px;
    border: #fff;
    color: #667085;
    background-color: #fff;
}

.btn-cadastro{
    background-color: #8E2424;
    color: #fff;
    padding: 10px 18px;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.btnMobile {
    display: none;
    background-color: transparent;
    border: 0;
}

#navMobile{
    display: none;
    background-color: rgba(142, 36, 36, 0.89);
    align-items: center;
    justify-content: center;
    gap: 38px;
    height: 50vh;
    max-width: 1440px;
    width: 100%;
}

#navlistM{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 50%;
}

#navlistM a{
    color: #fff;
}

.botoesMobile{
    background-color: #8E2424;
    color: #fff;
    padding: 10px 18px;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 100px;
}
/* Fim do cabeçalho */

/*inicio sobre nós*/

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 32px 0px 32px;
    text-align: center;
}

#sobre span{
    background-color:rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    color: #8E2424;
    font-size: 0.875rem;
    line-height: 28px;
    text-align: center;
    height: 28px;
    width: 125px;
    font-weight: 500;
}

#sobre h1{
    font-size: 3rem;
    margin: 24px;
}

#sobre p{
    color: #667085;
    max-width: 1075px;
    width: 80%;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
}

#infos{
    display: flex;
    justify-content: center;
    align-items:center;
}

#info-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 80%;
    gap: 24px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 280px;
}

.card p{
    color: #667085;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.card h3{
    font-size: 3.75rem;
    color: #8E2424;
}

/* fim de sobre nós*/

#talentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 80px;
    text-align: center;
}

#talentos span{
    background-color:rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    color: #8E2424;
    font-size: 0.875rem;
    line-height: 28px;
    height: 28px;
    width: 125px;
    font-weight: 500;
}

#talentos h1{
    font-size: 2.25rem;
    color:#101828;
    width: 80%;
}

#talentos p{
    color: #667085;
    font-size: 1.25rem;
    margin-bottom: 52px;
    width: 80%;
}

#talentos img{
    max-width: 1200px;
    width: 90%;
    border-radius: 6px;
}

#vagas{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 64px;
    gap: 24px;
}

#vagas h3{
    color: #101828;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
}

.container-vagas{
    padding: 24px 24px 28px 24px;
    max-width: 768px;
    width: 75%;
    border: 1px solid #EAECF0;
    border-radius: 16px;
}

.container-vagas h4{
    color: #101828;
    font-size: 1.125rem;
    font-weight: 500;
}

.container-vagas div{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

#depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 0px 96px;
}

#card-depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 85%;
    padding: 64px;
    gap: 32px;
    background-color: rgba(195, 25, 25, 0.03);
}

#card-depoimentos span{
    color: #8E2424;
    font-size: 0.900rem;
    font-weight: 600;
    text-align: center;
}

#card-depoimentos q{
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

figure img{
    height: 56px;
    width: 56px;
    margin-bottom: 12px;
}

figcaption{
    font-weight: 500;
    color: #101828;
}

figure p{
    font-size: 0.875rem;
    color: #667085;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9FAFB;
}

#footer-content{
    display: flex;
    flex-direction: column;
    max-width: 750px;
    width: 70%;
    text-align: center;
    gap: 18px;
}

#footer-content h2{
    font-size: 2.25rem;
    color: #101828;
    margin-top: 24px;
}

#footer-content p{
    font-size: 1.25rem;
    color: #667085;
}

form{
    display: flex;
    justify-content: center;
    gap: 16px;
}

#inputEmail{
    max-width: 360px;
    height: 44px;
    padding: 12px 14px 12px 16px ;
    border-radius: 8px;
    border: 1px solid #EAECF0;
}

form .btn-cadastro{
    height: 44px;   
}

#footer-content #license{
    color:#98A2B3;
    font-size: 0.85rem;
    margin: 32px 0px 32px;
    text-align: center;
}

/*medias queries */ 

@media (min-width: 1024px){
  #info-cards{
    flex-wrap: nowrap;
   }
}

@media (max-width: 760px){
    #navlist{
        display: none;
    }

    #container-btn{
        display: none;
    }

    #btnMobile{
        display: block;
    }

    #navMobile.active{
        display: flex;
        flex-direction: column;
    }
    

}

@media (max-width: 730px){
  #info-cards{
    justify-content: flex-start;
}
}

@media (max-width: 425px){
    html{
        font-size: 14px;
    }

    #container-btn{
        display: none;
    }

    #navlist-Tablet{
        display: none;
    }

}

@media (max-width: 360px){
    form {
        flex-direction: column;
    }
    .container-vagas div{
        display: block;
    }
    #sobre {
        text-align: left;
    }
}