*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'inter', 'sans-serif';
    text-decoration: none;
}

body{
    background-color: #fff;
}

/* Inicio do Cabeçalho*/

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

#logo-header{
    display: flex;
    align-items: center;
    gap: 8px ;
    font-size: 18px;
}

#nome-empresa{
    color:#3A404E ;
}

#navbar{
    margin-right: 95px;
}

#navlist{
    display: flex;
    gap: 32px;
    color:#667085;
}

a{
    color:#667085;
}

button{
    cursor: pointer;
}

#entrar{
    width: 47px;
    height: 24px;
    border: #fff;
    color: #667085;
    background-color: #fff;
    margin: 0px 24px;
}

.btn-cadastro{
    background-color: #8E2424;
    color: #fff;
    padding: 10px 18px;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

/* Fim do cabeçalho */